---
// 1. Create a new file at <project-directory>/src/pages/index.astro
// 2. Copy-and-paste this entire file (including `-` dashes) into it.
import { Prism } from 'astro/components';
---
<html>
  <body>
    <h1>Hello, World!</h1>
    <Prism code = {`hello = "Hello my friend";`}/>
  </body>
</html>